/* Default styles for all screen sizes */
.navbar-container {
    overflow-y: auto;
    height: 100%;
    padding-top: 1rem;
    background-color: #000;
    position: absolute;
    z-index: 10;
    transform: translateX(-240px);
    transition: all 0.3s;
  }

  .nav-container{
    transform: translateX(0);
  }
  
  /* Styles for medium (md) screens and above */
  @media (min-width: 768px) {
    .navbar-container {
      display: block;
      width: 240px;
      position: relative;
      transform: translateX(0);
    }
  }
  
    
@media (min-width: 768px) {
    .left-nav-container{
        position: relative; 
        --transform-translate-x: 0; 
    }
}

.left-nav{
    display: flex; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    flex-direction: column;
}

.nav-item{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; 
}

.nav-item-text{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; 
}

.nav-item-text-content{
    color: white;
}