.suggestion-video-card {
  display: flex;
  margin-bottom: 0.75rem;
}


.suggestion-video-thumbnail {
  height: 6rem;
  width: 10rem;
  min-width: 168px;
  border-radius: 0.75rem;
  background-color: #1f2d3d;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .suggestion-video-thumbnail {
    height: 5rem;
    width: 8rem;
    min-width: 128px;
  }
}

@media (min-width: 1280px) {
  .suggestion-video-thumbnail {
    height: 6rem;
    width: 10rem;
    min-width: 168px;
  }
}



.thumbnail-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.suggestion-video-info {
  display: flex;
  overflow: hidden;
  margin-left: 0.75rem;
  flex-direction: column;
}

.video-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .video-title {
      font-size: 0.75rem;
      line-height: 1rem;
      display: flex;
      margin-top: 0.5rem;
      align-items: center;
      font-weight: 600;
      color: white;
  }
}

.video-author-info {
  font-size: 12px;
  margin-top: 0.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .video-author-info {
    font-size: 10px;
  }
}

@media (min-width: 1280px) {
  .video-author-info {
    font-size: 12px;
  }
}


.verified-icon {
  margin-left: 0.25rem;
  color: #ffffff;
}


.video-stats {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .video-stats {
    font-size: 10px;
    margin-left: 0rem;
  }
}

@media (min-width: 1280px) {
  .video-stats {
    font-size: 12px;
  }
}


.video-dot {
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  color: white;
  top: -10px;
}

.video-published-time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
